/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



body{
    background-color: #005bc5;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    color: white;
    margin-top: 50px;
    text-decoration: none;
    font-size: 30px;
}


.logo{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h3{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.iconos{
    text-align: center;
} */

/* Inicio */

/* .imagenInicio{
    margin-top: 40px;
    width: 1200px;
    height: 600px;
}  */

/* .mapa{
    width: 600px;
    height: 300px;
} */

/* .mainInicio{
    margin-top: 40px;
    display: flex;
    justify-content: center;
} */

/* .textoInicio{
    text-align: center;
}

.mapaInicio{
    display: flex;
    justify-content: center;
}

.divInicio{
    margin: 60px;
    margin-bottom: 60px;
} */


/* Nosotros */

/* .divNosotrosCarro{
    display: flex;
    justify-content: center;
}

.carroNosotros{
    margin-top: 60px;
    width: 1200px;
}

.imgNosotros{
    height: 800px;
}

.parrafoNosotros{
    font-size: 25px;
    text-align: center;
    margin: 40px;
}

.divNosotrosTexto{
    margin: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
} */


/* Productos */

/* .divListas{
    margin-top: 60px;
    text-align: center;
}

li{
    font-size: 20px;
    list-style: none;
}

.imagenesProductos{
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

.divProductos{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
} */

/* Contacto */

/* .formulario{
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.nombre{
    margin-top: 10px;
}

.correo{
    margin-top: 10px;
}

.texto{
    margin-top: 10px;
}

h2{
    font-size: 30px;
}

.iconosContacto{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.wsp{
    margin-top: 40px;
    margin-bottom: 80px;
} */



/* Novedades */

/* .divNovedades{
    margin-top: 60px;
    text-align: center;
}

.ingresos{
    text-align: center;
    margin-top: 60px;
}

.imagenesNovedades{
    margin-top: 60px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.divIngresos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
} */




/* media quieries */

/* celular */
/* 
@media screen and (max-width: 480px) 
{

    .bloque{
        display: block;
        margin-top: 5px;
        margin-left: 10px;
    }

    .tituloHorario{
        margin-top: 25px;
    }

    .horarios{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .imgNovedades{
        margin-top: 20px;
    }

    .imagenesProductos{
        margin-top: 20px;
    }
    
} */

/* tablet */

/* @media screen and (max-width: 720px)
{ 

    .bloque{
        margin-left: 10px;
        display: block;
        margin-top: 5px;
    }

    .imgNovedades{
        margin-top: 20px;
    }

    .imagenesProductos{
        margin-top: 20px;
    }
    
}
 */


