@media screen and (max-width: 480px) 
{

    .bloque{
        display: block;
        margin-top: 5px;
        margin-left: 10px;
    }

    .tituloHorario{
        margin-top: 25px;
    }

    .horarios{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .imagenesProductos{
        margin-top: 20px;
    }
    
    .primerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }

    .segundoDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }    

    .tercerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }
    

    .divIngresos{
        p{
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 0px;
            margin-right: 0px;
        }
        div{
            img{
                width: 300px;
                height: 300px;
            }
        }
    }

    .formulario{
        margin-top: 25px;
    }
    
}