@media screen and (max-width: 480px) 
{
    /* nav */
    .bloque{
        display: block;
        margin-top: 5px;
        margin-left: 10px;
    }



    /* index */

    .tituloHorario{
        margin-top: 25px;
    }

    .horarios{
        margin-top: 15px;
        margin-bottom: 15px;
    }


    /* nosotros */

    .divNosotrosTexto{
        margin-left: 0px;
        margin-right: 0px;
    }


    /* productos */

    .imagenesProductos{
        margin-top: 20px;
    }


    /* novedades */
    
    .primerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }

    .segundoDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }    

    .tercerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }
    

    .divIngresos{
        p{
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 0px;
            margin-right: 0px;
        }
        div{
            img{
                width: 250px;
                height: 250px;
                &:hover{
                    transform: scale(2,2);
                }
            }
        }
    }


    /* contacto */

    .formulario{
        margin-top: 25px;
    }
    
}