@media screen and (max-width: 480px) 
{

    .bloque{
        display: block;
        margin-top: 5px;
        margin-left: 10px;
    }

    .tituloHorario{
        margin-top: 25px;
    }

    .horarios{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .divNovedades{
        img{
            margin-top: 15px;
        }
    }
    .imgNovedades{
        margin-top: 20px;
    }

    .imagenesProductos{
        margin-top: 20px;
    }

    .formulario{
        margin-top: 25px;
    }
    
}