.divNosotrosCarro{
    display: flex;
    justify-content: center;
    .carroNosotros{
        margin-top: 60px;
        width: 1200px;
    }
}

.imgNosotros{
    height: 800px;
}

.divNosotrosTexto{
    margin: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    p{
        font-size: 25px;
        text-align: center;
        margin: 40px;
    }
}