.divNovedades{
    margin-top: 60px;
    text-align: center;
}

.ingresos{
    text-align: center;
    margin-top: 60px;
}

.divIngresos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    img{
        margin-top: 60px;
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }
}