@media screen and (max-width: 720px)
{ 
    /* nav */
    
    .bloque{
        margin-left: 10px;
        display: block;
        margin-top: 5px;
    }



    /* productos */

    .imagenesProductos{
        margin-top: 20px;
    }



    /* novedades */

    .primerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }

    .segundoDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }    

    .tercerDivOfertas{
        align-items: center;
        img{
            margin-top: 10px;
        }
    }



    /* contacto */

    .formulario{
        margin-top: 25px;
    }
    
}
